@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth !important;
}
.collapse.navbar-collapse {
  visibility: unset !important;
}

.faq-section {
  text-align: center;
  margin-bottom: 5px;
}

.faqtitle{
  color: #000000;
}
#faq-button{
  margin-top: 50px;
  bottom: 24px;
  left: 0px;
}


/* FAQ image */
.faqImage {
  height: 300px;
  width: 350px;
  margin: 0 auto;
}
.paragap {
  margin-top: 9px;
}
.parachange {
  text-align: justify;
  word-spacing: -1px;
}
.parachange1 {
  text-align: justify;
  word-spacing: -3px;
}
h2 {
  font-family: Nunito, sans-serif;
  font-size: 42px !important;
}
body {
  font-family: "Poppins", sans-serif;
}
.poppinFont {
  font-family: "Poppins", sans-serif;
}
.main {
  /* background-image: url(https://images.groovetech.io/bFY4cwRVLhGp3KjA07qixvZ1HvpfXsj0-Be40NVFuUA/rs:fit:0:0:0/g:no:0:0/c:0:0/aHR0cHM6Ly9hc3NldHMuZ3Jvb3ZlYXBwcy5jb20vaW1hZ2VzL2JkYWIwNjg2LTU3OTQtNDdhYy1hNDA4LTUxOWIzNWFlMDIyYy8xNjU5MDQwNDUzX0dGLmpwZw.webp);
  background-size: cover;
  background-position: center; */
}

.nav-link {
}

ul.footer-links-list.divide li {
  width: 49%;
}
ul.footer-links-list.divide {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

div#contactWithUs {
  position: relative;
  bottom: 10rem;
}
.header-sec {
  position: absolute !important;
  background: transparent !important;
  top: 0;
  bottom: 0;
  color: black !important;
  box-shadow: none !important;
}
.MuiBox-root button {
  text-transform: capitalize !important;
  font-size: 18px;
}
.headerTopBar {
  text-align: center;
  color: white;
  background: #fe4c1c;
  padding: 8px;
  margin-bottom: 0;
  font-size: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.tabOuter button.MuiTab-textColorPrimary.Mui-selected {
  color: rgb(244 63 94);
}

/* @keyframes glowing {
  0%,
  100% {
    background-color: #080e32;
    box-shadow: 0 0 3px rgba(8, 14, 50, 0.5);
    color: white; 
  }
  50% {
    background-color: #a22301;
    box-shadow: 0 0 40px rgba(8, 14, 50, 0.5);
    color: black !important;
  }
} */

.banner-content h2 {
  margin-bottom: 20px;
  color: var(--whiteColor);
  font-size: 60px !important;
}
.headerTopBar .default-btn::before {
  background: #000000;
  animation: glowing 1500ms infinite;
  color: white; /* Initial text color */
}
.headerTopBar .default-btn:hover {
  background-color: white;
  color: black;
}
.headerTopBar h3 {
  font-weight: 400;
}
.headerTopBar h3 span {
  font-weight: bolder;
}
.headerTopBar .default-btn {
  animation: glowing 1500ms infinite;
  color: white;
}
.gallery-item-caption-wrap.caption-style-hoverer {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 15px;
  z-index: 10;
  display: none;
}

.gallery-item-caption-wrap .gallery-item-hoverer-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: #000;
  z-index: -1;
  opacity: 0.7;
  color: white;
  display: none;
}
.outer {
  position: relative;
}
.outer:hover .content {
  display: block;
  opacity: 1;
}
.gallery-item-hoverer-bg {
  background-color: #000000b3;
}

/* .content {
  display: none;
  opacity: 0;
} */
.gallery-item-caption-over {
  color: white;
  margin-top: 50px;
}

.filter-buttons Button {
  color: #000;
  background-color: #e9eff3;
}
.lets-btn {
  background-color: rgba(19, 160, 160, 0.918);
  color: white;
  display: flex;
  justify-content: center;
}
.lets-btn:hover {
  background-color: rgba(32, 202, 202, 0.918);
  color: white;
  display: flex;
  justify-content: center;
}

.video-sec {
  background-image: url("/image/v-bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 850px;
}

.testimonial img {
  width: 75%;
}
.tabOuter span.MuiTabs-indicator {
  background: rgb(244 63 94);
  border-bottom: 5px solid rgb(244 63 94);
}

.test-sec {
  box-shadow: -1px -1px 46px rgb(16 30 54 / 15%);
  padding: 5rem 0;
  margin-bottom: 5rem;
  background-color: #fff5f3;
}

.testimonial div {
  box-shadow: 1px 1px 46px rgb(16 30 54 / 15%);
  background-color: white;
}
.tabs-three {
  font-family: "Poppins", sans-serif !important;
}
.fg-item-content p {
  color: white;
}
.content {
  display: block;
  opacity: 1;
}

/* ===================9-may-css=================== */
.boxes-area .row {
  gap: 24px;
}
.boxes-area .col-lg-4 {
  width: calc(33.333% - 16px);
  padding: 0;
  background: #fff;
  box-shadow: 0px 15px 35px rgb(0 0 0 / 0.1);
  border-radius: 5px;
}
.boxes-area .single-boxes-box {
  background-color: transparent;
  box-shadow: none;
}

.services-area .row {
  gap: 24px;
}
.services-area .col-lg-4 {
  width: calc(33.333% - 16px);
  padding: 0;
  background: #fff;
  box-shadow: 0px 15px 35px rgb(0 0 0 / 0.1);
  border-radius: 5px;
}
.services-area.single-boxes-box {
  background-color: transparent;
  box-shadow: none;
}
.faq-sction .what-we-do-content-accordion {
  padding-left: 0;
}
/* ===================9-may-css=================== */

@media (max-width: 991px) {
  .boxes-area .col-lg-4 {
    width: calc(50% - 12px);
  }
  .services-area .col-lg-4 {
    width: calc(50% - 12px);
  }
  .test-sec .team-head h2 {
    text-align: center;
  }
  .why-choose-sec h2 {
    text-align: center;
  }
  #faqAccodi {
    padding-left: 0.75rem;
  }
}
@media (max-width: 767px) {
  
  body .navbar-area {
    top: 4rem;
  }
  .home-wrapper-area .banner-content {
    padding-top: 20px;
  }
  #faq-button {
    left: 0;
}
#faqAccodi {
  padding-left: 12px;
}
  .blog-collunm img {
    width: 100%;
  }
  .contact-form {
    padding: 0px 20px 25px;
  }
}
@media (max-width: 575px) {
  .boxes-area .col-lg-4 {
    width: 100%;
  }
  .services-area .col-lg-4 {
    width: 100%;
  }
  .boxes-area .row {
    margin: 0;
  }
  .services-area .row {
    margin: 0;
  }
  .banner-content h2 {
    font-size: 40px !important;
  }
  .about-area .about-content h1 {
    font-size: 34px;
  }
  .about-area .about-content .funfacts-list {
    justify-content: left;
  }
  .section-title h2,
  .what-we-do-area .what-we-do-content h2,
  .project-start-content h2,
  .about-content h2,
  .feedback-content h2,
  .overview-box .overview-content .content h2 {
    font-size: 34px !important;
  }
  .headerTopBar h3 {
    font-size: 13px;
  }
  .main-nav .navbar .navbar-nav {
    width: 100%;
  }
  body .contact-area {
    margin-top: 25px;
  }
}
@media (max-width: 374px) {
  .banner-content h2 {
    font-size: 34px !important;
  }
  #faq-button {
    margin-top: 50px;
    bottom: 24px;
}
  .about-area .about-content h1 {
    font-size: 32px;
  }
  .section-title h2,
  .what-we-do-area .what-we-do-content h2,
  .project-start-content h2 {
    font-size: 32px !important;
  }
}
